*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
svg[hidden] {
  position: absolute;
  top: -999999px;
  left: -99999px;
  visibility: hidden;
  width: 0;
  height: 0;
}
html {
  font-size: calc(0.7vw + 6px);
}
body {
  font-family: var(--font-primary);
  color: var(--text-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

p {
  line-height: 1.65;
}

img {
  max-width: 100%;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

svg {
  width: 1.1rem;
  height: 1.1rem;
}

blockquote {
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--main-light-color);
  border-radius: var(--rounded);

  &.warning {
    background-color: var(--background-block-warning);
  }

}

main {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-header {
  padding: 2.5rem 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      padding: 0;
      display: flex;
      align-items: center;

      li {
        list-style: none;
      }

      li:not(:last-child) {
        margin-right: 1.3em;
      }
    }

  }

  h1 {
    margin: 0;
    
    img {
      max-width: 2.5rem;
      min-width: 50px;
      border-radius: 50%;
      pointer-events: none;
    }
  }
}

.posts {
  .post-list-heading {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.post-item {
  margin: 1.6rem 0;
  &:first-child {
    margin-top: 0;
  }
  .post-meta {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.8em;
    font-weight: 600;
    time::after {
      content: " •";
    }
  }
  .post-link {
    color: var(--text-color);
    display: block;
      
    &:hover {
      color: var(--main-color);
    }

    h3 {
      font-size: 1.1rem;
      margin: 0;
    }

  }
}

.post-header {
  font-size: 2.5rem;

  .post-title {
    margin: 0;
    font-size: 1em;
    color: var(--text-color-dark);
  }

  .post-description {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 300;
    color: var(--text-color-dark);
  }
  
  .post-meta {
    margin: 0 0 1rem 0;
  }

  .post-read-time::before {
    content: "• ";
  }

  .post-authors, .post-meta {
    font-size: 0.3em;
    font-weight: 600;
  }

  .share-btn {
    margin-bottom: 0.5em;
    svg {
      fill: var(--text-color);
    }
  }
}


.post-content {
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-dark);
    font-weight: 700;
    margin: 2rem 0;
    display: block;
    
    a {
      margin-left: 0.3rem;
      opacity: 0;
    }

    &:hover {
      a {
        opacity: 1;
      }
    }
  }
  ul, ol {
    padding-left: 2em;
  }
  li {
    margin: 0.5rem 0;
  }
  table {
    margin: 0 auto;
  }
}

div[class*="language-"] {
  position: relative;
}

code[class*="language-"], pre[class*="language-"] {
  border-radius: var(--rounded);
}

// div[class*="language"] {
//   background-color: var(--bg-code);
//   border-radius: 7px;
// }

code[class*="language-plaintext"] {
  background-color: var(--background-code-inline) !important;
  padding: .25em .4em !important;
  color: var(--text-color-code-inline) !important;
}

div[class*="language"]::before {
  content: attr(language);
  text-transform: uppercase;
  color: rgb(99, 119, 119);
  font-size: 1em;
  font-family: var(--font-mono);
  position: absolute;
  top: 0;
  right: 0;
  margin: .5em .5em 0 0;
  pointer-events: none;
  user-select: none;
}

footer {
  display: flex;
  width: 100%;
  min-height: 10rem;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}