:root {
  --color-scale-blue-0: #0070f3;
  --color-scale-green-0: #34d058;
  --color-scale-yellow-0: #ffd33d;

  --main-color: var(--color-scale-blue-0);
  --main-light-color: #ddeaf9;
  --text-color: #1b1d25;
  --text-color-dark: #1b1d25;
  --color-green-scale-1: #8fbc8f;
  --color-red-scale-1: #ff6a6a;
  --background-code-inline: rgba(1,16,39,.05);
  --text-color-code-inline: rgba(62,64,87,1);
  --background-block-warning: #fddcab;
  --rounded: 6px;
  --shadow-scale-1: 0 0 3px rgba(0, 0, 0, 0.12);
  --shadow-sacale-2: 0 0 14px rgba(0, 0, 0, 0.12);
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --font-primary: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}