<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css"}}"> 
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">    
  </head>

  <body>
    <header class="main-header">
      <nav>
        {%- if site.title -%}
        <h1>
          <a href="/"><img alt="{{ site.title }}" src="https://avatars.githubusercontent.com/u/16160544?v=4"/></a>
        </h1>
        {%- endif -%}
        <ul>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </header>

    <main aria-label="content">
      {{ content }}
    </main>

  </body>

</html>